body {
  background: #090909;
  color: gold;
}
input {
  background: ivory;
}
input:hover {
  background: gold;
}
img {
  width: 30%;
}
a {
  text-decoration: none;
  color: ivory;
  font-size: 25px;
}
h2 {
  margin:0;
}
a:hover {
  color: gold;
}
button:hover {
  background: gold;
  cursor: pointer;
}
