body {
  background: #090909;
  color: gold;
}
input {
  background: ivory;
}
input:hover {
  background: gold;
}
img {
  width: 35%;
  margin: 0 1rem;;
}
a {
  text-decoration: none;
  color: ivory;
  font-size: 25px;
}
h2, h3, h4 {
  margin:0;
  padding: 0;
}
/* div {
  border: 1px solid gold;
} */
.main {
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

}
.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  border: 1px solid gold;
  margin: 1rem;
}
.innerBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  padding: 1rem;
  width: 100%;
  height: 100%;
}
.delete:hover {
  background: red;
}
a:hover {
  color: gold;
}
button:hover {
  background: gold;
  cursor: pointer;
}

@media only screen and (min-width: 1020px) {
  .box {
    width: 30%;
  }
}
